html {
    font-size: 100%;
    background-color: #fff;
    color: #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #242021;
    color: #fff;
    font-size: .5rem;
    text-transform: uppercase;
    height: 100px;
}

header img {
    height: 50%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    background-color: #bb4430;
    color: #000;
    border: 1px solid #bb4430;
}

nav ul li a {
    background-color: #bb4430;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #bb4430;
    color: #000;
    font-weight: bold;
}

nav ul li:nth-child(2) {
    background-color: #f3dfa2;
    color: #000;
    border: 1px solid #f3dfa2;
    font-weight: bold;
    text-decoration: none;
}

nav ul li:nth-child(2) a {
    background-color: #f3dfa2;
    color: #000;
    text-decoration: none;
}

nav ul li:nth-child(2) a:hover {
    background-color: #f3dfa2;
    color: #fff;
    text-decoration: none;
}

.wrapper {
    background-color: #7ebdc2;
}

figcaption {
    text-align: center;
    font-size: 0.8rem;
}

figcaption a {
    background-color: #7ebdc2;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

#secondary {
    background-color: #fff;
    color: #000;
}

footer {
    background-color: #242021;
    color: #fff;
}